POSTGRES_DB=pass
POSTGRES_USER=pass
POSTGRES_PASSWORD=pass
DATABASE_URL=postgres://printforge:pass@postgres:5432/printforge

# staging/prod only
ADMIN_DOMAIN=
CONFIGURATOR_DOMAIN=

# local only
VITE_API_URL=http://localhost:3000
